<?xml version="1.0" encoding="UTF-8"?>
<plugin>

    <!-- Main plugin class -->
    <class>com.suneee.openfire.plugin.SuneeeFileTransferPlugin</class>
    
    <!-- Plugin meta-data -->
    <name>Suneee File Transfer Service</name>
    <description>File Transfer Service</description>
    <author>hexuan@suneee.com</author>
    <version>1.0.0</version>
    <date>11/10/2014</date>
    <minServerVersion>3.9.1</minServerVersion>

</plugin>
