@charset "UTF-8";
.checkboxFour {
  position: relative;
  width: 22px;
  height: 22px;
  display: inline-block; }
  .checkboxFour.service {
    width: auto; }

.checkboxFour label {
  pointer-events: none;
  z-index: 1;
  display: block;
  width: 22px;
  height: 22px;
  top: 0;
  left: 0;
  position: absolute;
  border: #e9e9e9 solid 1px;
  border-radius: 2px;
  background: #f8f8f8;
  transition: background-color 20ms ease-in-out; }

.checkboxFour input {
  display: block;
  width: 22px;
  height: 22px;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer; }

.checkboxFour input[type=checkbox]:checked + label {
  background: #00ccd8 url("../images/icon/icon_cur.png") no-repeat center;
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  border: none; }

.checkboxFour em {
  display: block;
  min-width: 40px;
  height: 24px;
  line-height: 24px;
  padding: 0 22px 0 28px;
  color: #666;
  font-size: 16px; }

.form-time {
  min-width: 60px;
  background: #fff url(../images/icon/icon_time.png) no-repeat 97% center; }

.select {
  display: inline;
  position: relative;
  width: 160px; }
  .select ul {
    display: none;
    border-radius: 4px;
    border: #e9e9e9 solid 1px;
    width: 158px;
    position: absolute;
    top: 32px;
    left: 0;
    background: #fff;
    overflow: hidden;
    padding: 2px 0;
    webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.175); }
    .select ul li {
      padding: 5px 8px;
      cursor: pointer; }
      .select ul li:hover {
        background: #f5f5f5; }
  .select .default {
    width: 118px;
    display: inline-block;
    border: #e9e9e9 solid 1px;
    border-radius: 4px;
    background: #fff;
    padding: 8px 30px 8px 10px;
    position: relative;
    cursor: pointer; }
    .select .default:hover {
      webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
    .select .default:after {
      content: "";
      width: 8px;
      height: 8px;
      border: #9a9a9a solid 2px;
      border-top: none;
      border-left: none;
      position: absolute;
      top: 55%;
      right: 10px;
      margin-top: -10px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }

.form-btn button {
  width: 92px;
  height: 46px;
  border: none;
  color: #fff;
  font-size: 18px;
  padding-left: 20px;
  cursor: pointer;
  position: relative;
  margin: 0 10px; }
  .form-btn button.confirm {
    background: #00ccd8; }
    .form-btn button.confirm:after {
      content: "";
      width: 20px;
      height: 17px;
      background: url(../images/icon/confirm.png) no-repeat;
      position: absolute;
      top: 14px;
      left: 12px; }
  .form-btn button.cancel {
    background: #a5a5a5; }
    .form-btn button.cancel:after {
      content: "";
      width: 16px;
      height: 16px;
      background: url(../images/icon/delete.png) no-repeat;
      position: absolute;
      top: 16px;
      left: 16px; }

.pop-body .form-btn button {
  margin: 0; }

.radio {
  line-height: 34px;
  padding: 12px 0; }
  .radio label {
    display: inline-block;
    width: 110px;
    margin-right: 8px;
    position: relative;
    padding-left: 32px; }
  .radio input {
    display: none; }
  .radio input + i {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 1px solid #ebebeb;
    background: #f8f8f8;
    opacity: 50;
    position: absolute;
    left: 0;
    top: 2px;
    cursor: pointer; }
  .radio input:checked + i {
    background: #00ccd8 url("../images/icon/icon_cur.png") no-repeat center;
    border: 1px solid #00ccd8; }

.checkbox {
  line-height: 26px;
  padding: 10px 0;
  font-size: 16px; }
  .checkbox label {
    display: inline-block;
    margin-right: 8px;
    position: relative;
    padding-left: 32px; }
  .checkbox input {
    display: none; }
  .checkbox input + i {
    display: block;
    width: 22px;
    height: 22px;
    border: 1px solid #ebebeb;
    background: #fff;
    opacity: 50;
    position: absolute;
    left: 0;
    top: 2px;
    cursor: pointer; }
  .checkbox input:checked + i {
    background: #00ccd8 url("../images/icon/icon_cur.png") no-repeat center;
    border: 1px solid #00ccd8; }

/**导航**/
.tabs-nav {
  padding-bottom: 20px; }
  .tabs-nav li {
    background: #c8c8c8;
    color: #fff;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    margin-right: 20px;
    cursor: pointer;
    font-size: 16px; }
    .tabs-nav li a {
      color: #fff;
      display: block; }
  .tabs-nav .active {
    background: #00ccd8;
    position: relative; }
    .tabs-nav .active:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      margin-left: -15px;
      left: 50%;
      bottom: -20px;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid #fff; }

.tabs-box {
  background: #fff;
  padding: 15px 20px;
  position: relative;
  min-height: 650px; }

/*搜索模块*/
.search {
  padding: 15px 3px;
  background: #edf1f2;
  margin-bottom: 15px;
  font-size: 16px; }
  .search > input {
    width: 150px; }
  .search label {
    line-height: 34px;
    margin-left: 20px; }
  .search .form-time {
    width: 110px; }
  .search .query-btn {
    background: #00ccd8;
    color: #fff;
    border: none;
    padding: 6px 14px;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 35px;
    cursor: pointer; }

.red, .green, .edit {
  padding: 0 5px;
  cursor: pointer; }

.red {
  color: #ff0000; }

.green {
  color: #3bc200; }

.edit {
  color: #00ccd8; }

.table {
  border: 1px solid #ededed; }
  .table td {
    border: 1px solid #ededed;
    padding: 12px 10px;
    line-height: 1.4;
    text-align: center; }
    .table td img {
      vertical-align: middle;
      margin-right: 10px; }
    .table td.sort em {
      color: #333;
      font-size: 14px;
      background: #f8f8f8;
      padding: 5px 20px;
      border: 1px solid #e9e9e9;
      border-radius: 3px; }
    .table td.table-del {
      text-align: left;
      padding: 6px 10px; }
      .table td.table-del em {
        color: #fff;
        background: #e05656;
        display: inline-block;
        width: 100px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        padding: 0;
        cursor: pointer; }
  .table .tal {
    text-align: left; }
  .table th {
    background: #edf1f2;
    font-size: 16px;
    padding: 6px 10px;
    font-weight: normal;
    border: 1px solid #ededed; }

.page {
  margin-top: 24px;
  height: 30px;
  line-height: 30px; }
  .page a {
    display: inline-block;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    background: #c8c8c8;
    color: #fff; }
    .page a:hover, .page a.page-cur {
      background: #00ccd8; }
    .page a.pre, .page a.next {
      border-radius: 5px; }
  .page select {
    padding: 4px; }

/**系统菜单**/
.menu {
  width: 240px;
  background: #262a33;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  overflow: auto; }

/*logo*/
.logo {
  padding: 20px 0 35px 20px;
  font-weight: normal; }
  .logo img {
    float: left;
    width: 60px;
    padding-right: 8px; }
  .logo span {
    float: left;
    color: #fff;
    font-size: 20px; }
  .logo b {
    display: block; }

/*左侧导航*/
.menu-list li {
  border-bottom: 1px #30343e solid;
  text-align: right; }
  .menu-list li a {
    display: block;
    color: #fff;
    line-height: 56px;
    font-size: 16px;
    padding-right: 30px; }
  .menu-list li.curr a, .menu-list li a:hover {
    background: #00b6c1;
    color: #fff; }
  .menu-list li .lever {
    display: block;
    background: #3a3f4a; }
    .menu-list li .lever a {
      display: block;
      height: 46px;
      line-height: 46px;
      font-size: 14px;
      color: #fff; }
      .menu-list li .lever a:hover {
        background: #494e59; }
  .menu-list li.curr .lever a {
    background: none;
    border: none;
    padding-left: 60px;
    font-weight: normal; }
    .menu-list li.curr .lever a.curr1 {
      background: #494e59; }

/*左侧底部*/
.left-set {
  position: absolute;
  bottom: 0;
  background: #131519;
  padding: 0 10px;
  width: 100%;
  height: 54px;
  box-sizing: border-box; }
  .left-set .user-list {
    position: absolute;
    left: 0px;
    bottom: 65px;
    width: 240px;
    background: #1c1e24;
    height: 50px;
    display: none; }
    .left-set .user-list li {
      width: 50%;
      padding: 0;
      float: left;
      line-height: 50px;
      text-align: center;
      font-size: 16px; }
    .left-set .user-list a {
      color: #fff; }
  .left-set .quit {
    background: url("../images/close.png") no-repeat center;
    width: 50px;
    height: 100%; }
  .left-set .set {
    background: url("../images/set.png") no-repeat center;
    width: 50px;
    height: 100%; }
  .left-set .cur-bg {
    background-color: #1c1e24;
    position: relative; }
    .left-set .cur-bg:after {
      content: "";
      position: absolute;
      width: 6px;
      height: 10px;
      right: 15px;
      top: -15px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #1c1e24; }
  .left-set .user {
    background: url("../images/admin.png") left center no-repeat;
    padding-left: 28px;
    color: #fff;
    height: 100%;
    line-height: 54px;
    font-size: 20px; }

/**内容框架**/
.main_box {
  position: absolute;
  top: 0;
  left: 240px;
  right: 0;
  height: 100%;
  z-index: 1;
  background: #edf1f2; }

.main {
  width: 100%;
  min-width: 760px;
  height: 100%;
  overflow: hidden; }

.container {
  padding: 20px 30px; }

.index-con .user {
  padding: 70px 0 50px;
  position: relative; }
  .index-con .user img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px #fff solid;
    overflow: hidden;
    margin-right: 8px;
    position: relative;
    z-index: 9; }
  .index-con .user span {
    position: absolute;
    z-index: 1;
    left: 72px;
    top: 95px;
    background: #fff;
    border-radius: 45px;
    font-weight: normal;
    padding: 8px 30px 8px 50px;
    text-align: left;
    display: block; }
    .index-con .user span em {
      display: block;
      color: #b8b8b8;
      font-size: 14px;
      padding: 3px 0 0; }
.index-con .in-num {
  margin-bottom: 50px; }
  .index-con .in-num li {
    float: left;
    width: 235px;
    height: 90px;
    border-radius: 3px;
    margin: 0 30px 0 0;
    background: #fff;
    padding: 10px 0 0 24px;
    box-sizing: border-box;
    color: #999;
    font-size: 14px; }
    .index-con .in-num li b {
      color: #333;
      font-size: 36px;
      display: block;
      font-weight: normal; }
    .index-con .in-num li span {
      background: url("../images/icon.png") no-repeat;
      width: 62px;
      height: 62px;
      float: left;
      margin-right: 8px; }
    .index-con .in-num li:nth-of-type(1) span {
      background-position: 0 0; }
    .index-con .in-num li:nth-of-type(2) span {
      background-position: -62px 0; }
    .index-con .in-num li:nth-of-type(3) span {
      background-position: -124px 0; }
    .index-con .in-num li:nth-of-type(4) span {
      background-position: -186px 0; }
.index-con .data-chart {
  background: #fff;
  padding: 20px 10px;
  overflow: hidden; }
  .index-con .data-chart h1 {
    font-weight: normal;
    font-size: 20px;
    padding: 0 0 8px 10px; }

/*登录页面*/
.login_container {
  width: 100%;
  height: 100%;
  background: #00b6c1 url(../images/login_bg.jpg) no-repeat center top;
  background-size: cover; }

.login_box .login_logo {
  padding: 60px 0 110px 160px;
  font-size: 32px;
  color: #fff; }

.login_logo img {
  vertical-align: middle;
  margin-right: 12px;
  width: 40px;
  height: 36px; }

.login_info_bd {
  width: 80%;
  margin: 0 auto; }

.login_info_bd .info {
  width: 410px;
  float: right; }

.login_info_bd .info h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 14px;
  font-weight: normal; }

.info_list {
  width: 334px;
  background: #fff;
  border-radius: 10px; }

.info_list li {
  position: relative;
  height: 58px;
  line-height: 58px;
  border-bottom: 1px solid #d9d9d9;
  padding-left: 15px;
  position: relative; }

.info_list li i {
  position: absolute;
  top: 8px;
  left: -200px;
  border-radius: 5px;
  box-shadow: -3px 3px 8px #999;
  height: 60px;
  line-height: 60px;
  background: #fff3cb;
  color: #d82f2f;
  font-size: 16px;
  padding: 0 18px;
  font-style: normal; }

.info_list li i:before {
  position: absolute;
  content: "";
  right: -8px;
  top: 16px;
  border-left: 10px solid #fff3cb;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent; }

.info_list li input {
  border: none;
  padding-left: 28px;
  background: none;
  font-size: 16px;
  width: 206px; }

.info_list .usn {
  background: url(../images/icon1.gif) no-repeat 15px center; }

.info_list .psd {
  background: url(../images/icon2.gif) no-repeat 15px center; }

.info_list .yzm {
  background: url(../images/yzm.gif) no-repeat 15px center;
  border-bottom: none; }

.member {
  height: 35px;
  line-height: 35px;
  color: #fff;
  width: 334px;
  margin-bottom: 8px; }

.member a {
  float: right;
  color: #fff;
  text-decoration: underline; }

.member input {
  background: none;
  border: none;
  vertical-align: middle;
  margin-right: 4px; }

.yzm img {
  vertical-align: middle; }

.info_btn .login_btn {
  text-shadow: 2px 2px 2px #999;
  border: none;
  color: #fff;
  width: 334px;
  height: 52px;
  background: #83d324;
  border-radius: 5px;
  font-size: 20px; }

.free-con {
  font-size: 16px;
  padding: 20px 0 0 20px;
  min-height: 300px; }

.enter-table tr td:nth-of-type(1) {
  text-align: left;
  padding-left: 12px; }

.add-enter {
  padding: 12px 0 10px 0; }
  .add-enter li {
    margin-bottom: 15px;
    line-height: 42px; }
    .add-enter li.checkbox {
      line-height: 26px; }
    .add-enter li .lab {
      display: inline-block;
      height: 42px;
      width: 88px;
      text-align: right;
      font-size: 16px;
      vertical-align: top;
      margin-right: 10px; }
    .add-enter li input[type=text], .add-enter li input[type=password] {
      height: 22px;
      line-height: 22px;
      background: #f8f8f8;
      width: 228px; }
    .add-enter li .tip {
      margin-left: 14px;
      color: #999;
      font-size: 14px; }
    .add-enter li textarea {
      width: 228px;
      background: #f8f8f8;
      vertical-align: top;
      resize: none;
      height: 70px; }
    .add-enter li .upimg {
      position: relative;
      width: 42px;
      height: 42px;
      display: inline-block;
      margin-right: 15px; }
      .add-enter li .upimg img {
        width: 40px;
        height: 40px;
        border: 1px solid #e9e9e9;
        border-radius: 4px;
        vertical-align: middle; }
      .add-enter li .upimg .close {
        color: #fff;
        cursor: pointer;
        font-size: 7px;
        width: 15px;
        height: 15px;
        line-height: 15px;
        text-align: center;
        font-style: normal;
        border-radius: 15px;
        background: #000;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        opacity: 0.5;
        position: absolute;
        top: -5px;
        right: -6px; }
    .add-enter li .upload {
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 35px;
      display: inline-block;
      border: 1px solid #e9e9e9;
      border-radius: 4px;
      color: #999;
      font-size: 32px;
      vertical-align: middle;
      background: #f8f8f8; }

.add-enter .author {
  margin-bottom: 5px; }
  .add-enter .author .lab {
    float: left; }

.check-right {
  float: left;
  width: 560px;
  border: 1px solid #e9e9e9;
  border-bottom: none; }

.parent_box, .child-box {
  border-bottom: 1px solid #e9e9e9;
  padding-left: 15px;
  color: #666;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box; }

.parent_box {
  background: #f8f8f8;
  display: block; }

.child-box {
  background: #fff;
  padding-left: 36px; }
  .child-box .checkbox {
    margin-right: 20px; }

.add-enter .radio {
  line-height: 34px;
  font-size: 16px; }

.account .radio input + i {
  border-radius: 0; }

.add-coaxial .radio {
  font-size: 16px; }
  .add-coaxial .radio label {
    width: 60px; }

.add-select .select .default {
  width: 198px;
  padding: 0px 30px 0px 10px;
  background: #f8f8f8;
  font-size: 16px; }
.add-select .select ul {
  width: 238px; }
  .add-select .select ul li {
    height: 24px;
    line-height: 24px;
    margin-bottom: 0; }

.categray .lab {
  float: left; }

.cate-rt {
  width: 540px;
  float: left; }
  .cate-rt .cate-list {
    margin-bottom: 15px; }
    .cate-rt .cate-list input[type=text], .cate-rt .cate-list .upload {
      margin-right: 15px; }
    .cate-rt .cate-list .top {
      width: 70px;
      margin-right: 15px;
      height: 28px;
      line-height: 26px;
      vertical-align: middle;
      background: #f8f8f8;
      padding: 7px;
      border: 1px solid #e9e9e9;
      border-radius: 3px;
      font-size: 16px;
      display: inline-block;
      cursor: pointer; }
      .cate-rt .cate-list .top em {
        color: #666;
        padding: 0 0 0 33px;
        position: relative; }
        .cate-rt .cate-list .top em:before {
          position: absolute;
          left: 0;
          top: 0;
          content: "";
          width: 24px;
          height: 24px;
          background: #f8f8f8;
          border: 1px solid #e9e9e9; }
      .cate-rt .cate-list .top.top-cur em:before {
        background: #00ccd8 url("../images/icon/icon_cur.png") no-repeat center;
        border: 1px solid #00ccd8; }
    .cate-rt .cate-list .delete {
      width: 42px;
      height: 42px;
      vertical-align: middle;
      background: url("../images/icon/remove.png") no-repeat;
      background-position: 0 -42px;
      display: inline-block; }
      .cate-rt .cate-list .delete:hover {
        background-position: 0 0; }
    .cate-rt .cate-list:nth-last-of-type(1) {
      margin-bottom: 5px; }
  .cate-rt .erro-tip {
    display: block;
    font-style: normal;
    color: #e72e2e; }
  .cate-rt .add-cate {
    display: block;
    width: 82px;
    height: 40px;
    background: #f8f8f8;
    text-align: center;
    line-height: 40px;
    color: #00ccd8;
    font-size: 16px;
    border: 1px solid #e9e9e9;
    border-radius: 5px; }
